<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>tech-deck</title>
  {{!
  <base href="/"> }}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
</head>

<body>
  <div class="wrapper">

    {{!-- NAVIGATION --}}

    <nav class="navbar" role="navigation" aria-label="main navigation">
      <a class="nav-item" href="/">home</a>
      {{#if loggedIn}}

      <a class="nav-item" href="/dashboard">dashboard</a>
      <button id="logout" class="nav-item btn-no-style">logout</button>
      {{else}}
      <a class="nav-item" href="/login">login</a>
      {{/if}}
    </nav>

    {{!-- HERO --}}

    <section class="hero is-medium">
      <div class="hero-body">
        <p class="title has-text-primary-light">
          tech-deck
        </p>
        <p class="subtitle has-text-primary-light">
          Got something to say? Blurb about it!
        </p>
      </div>
    </section>

    <main>
      {{{body}}}
    </main>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Thank You! Your interest is always appreciated ~ <a
            href="https://www.linkedin.com/in/nicolette-renner/">Nicolette Renner</a>.
        </p>
      </div>
    </footer>

  </div>

  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}

</body>

</html>