<section class="section">
  <h1 class="title">Create a Blurb</h1>
  <h2 class="subtitle">This is your chance to share your ideas with other tech enthusiasts. Don't overthink it!</h2>

  <form class="new-post-form">
    <div>
      <label for="post-title">Title of Blurb</label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-url">Word Vomit Below:</label>
      <input id="post-url" name="post-url" />
    </div>
    <button type="submit" class="button btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section class="section">
  <h2 class="subtitle">Your Blurbs</h2>
  <ul>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link button is-light">Edit post</a>
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>