<form class="login-form">
  <div class="field">
    <label for="email-login" class="label">email:</label>
    <input type="text" id="email-login" placeholder="Email" />
  </div>
  <div class="field">
    <label for="password-login" class="label">password:</label>
    <input type="password" id="password-login" placeholder="Password" />
  </div>
  <div>
    <button class="button" type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div class="field">
    <label for="username-signup" class="label">username:</label>
    <input type="text" id="username-signup" placeholder="Username" />
  </div>
  <div class="field">
    <label for="email-signup" class="label">email:</label>
    <input type="text" id="email-signup" placeholder="Email" />
  </div>
  <div class="field">
    <label for="password-signup" class="label">password:</label>
    <input type="password" id="password-signup" placeholder="Password" />
  </div>
  <div>
    <button class="button" type="submit">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>