/* stylesheet */

:root {
  --alice-blue: #E8F1F2;
  --granny-smith: #B3EFB2;
  --army-green: #7A9E7E;
  --jungle-green: #31493C;
  --rich-black: #001A23;
}

* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100vw;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--jungle-green);
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: var(--granny-smith);
}

.button {
  font-family: 'Silkscreen', cursive;
  color: var(--army-green);
  background-color: var(--jungle-green);
  cursor: pointer;
  border-radius: 25px;
  padding: 3%;
}

.button:hover {
  transition: color .1s;
  color: var(--granny-smith);
}

.post-list {
  margin: 0;
  padding: 10px 0px;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  padding: 10px;
  margin-bottom: 2%;
}

form label {
  display: block;
}

header h1 {
  font-size: 1em;
}

main {
  flex: 1;
  padding: 2% 4%;
}

.wrapper {
  width: 100vh;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-size: 90%;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.upvote-btn {
  background-color: #197d0f;
  transition: background-color .1s;
}

.upvote-btn:hover {
  background-color: #1f9c13;
}

.nav-item {
  color: var(--jungle-green);
  padding: 10px;
}

.nav-item:hover {
  color: var(--granny-smith);

}

.footer {
  border-top: 3px solid var(--granny-smith);
  justify-content: center; 
}

.navbar, .footer {
  font-family: 'Silkscreen', cursive;
  background-color: var(--rich-black);
  color: var(--alice-blue);
  display: flex;
  padding: 5vh;
  font-size: larger;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form {
  padding: 20px;
}

.new-post-form input {
  padding: 10px;
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

#hero {
  background-color: var(--rich-black);
  border-bottom: 3px solid var(--granny-smith);
}